.time-period-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 900px) {
    .time-period-container {
        flex-direction: row;
    }
}

.dates-title-bar {
    color: white;
}

.date-label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
}

@media screen and (min-width: 900px) {
    .date-label-container {
        justify-content: space-between;
    }
}

/* todo - add vars for these to connect to habit-card + link .scss */
.date-string-in-title {
    width: 6rem;
    min-width: 6rem;
}

.date-titlebar-left-label {
    width: 11rem; // 9 + 2, from habit-card.scss
    min-width: 11rem;
    height: 9rem; // 7 + 2
    min-height: 9rem;
}