.chains-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: auto;
}

.time-period-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dates-title-bar {
    color: white;
}

.date-label-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4.5rem;
}

/* todo - add vars for these to connect to habit-card + link .scss */
.date-string-in-title {
    width: 6rem;
    min-width: 6rem;
}

.date-titlebar-left-label {
    width: 11rem;
    min-width: 11rem;
}