.grid-view-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.chains-container {
  display: flex;
  overflow: auto;
}

@media screen and (max-width: 899px)
{
  .grid-view-header {
    display: flex;
    flex-direction: column;
  }

  .grid-login-info-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .chains-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px){
  .grid-view-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  
  .grid-login-info-container {
    grid-column: 3;
    align-self: center;
    padding: 1rem;
  }

  .chains-container {
    flex-direction: column;
  }
  
  #grid-view-title {
    grid-column: 2/3;
  }
}