.link-circle {
  border-radius: 50%;
  min-width: 4rem;
  height: 3rem;
  margin: 1rem;
  cursor: pointer;
}

.link-circle:hover {
  box-shadow: 0px 0px 20px aliceblue;
}

.on {
  background-color: violet;
}

.off {
  background-color: gray;
}
